<div class="row">
  <div class="col-md-12 text-center">
    <h1 id="title">Find My Module</h1>
  </div>
</div>
<div class="row" id="search-form">
  <div>
    <div class="form-group col-md-4">
      <label class="control-label">Course name:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.search" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="title in courseTitle" value="{{title}}">{{title}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label class="control-label">Professor:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.instructor" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="professor in professors" value="{{professor}}">{{professor}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label class="control-label">Day:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.day" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="day in days" value="{{day}}">{{dayLabel(day)}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-link pull-right" ng-click="reset()">Clear Search</button>
  </div>
</div>

<div class="row" id="results">
    <!-- <ul>
      <li ng-repeat="class in classes | filter: search | limitTo: 50">
        {{class.code}} / {{class.title}} / {{class.day}} / {{class.instructor}} / {{class.start}} - {{class.end}}
      </li>
      <li ng-show="flags.noMatch">No match</li>
    </ul> -->

    <div class="col-md-4 result" ng-repeat="course in classes | filter: search | limitTo: 30">
      <div class="result">
        <h5>{{course.search}} - {{course.group}}</h5>
        <p>
          <small>{{dayLabel(course.day)}}, {{course.start}} - {{course.end}}</small>
        </p>
        <p>
          <small>{{course.instructor}}</small>
        </p>

        <!-- <p class="pull-right">
          <button class="btn btn-link text-center info-button">
            <span tooltip="Prerequisite" class="glyphicon glyphicon-info-sign"></span>
          </button>
        </p> -->
        <button ng-click="getInfo(course)" class="text-left info-button btn btn-link btn-block">
          <small class="pull-left">Prerequisite &amp Course Info</small>
          <span class="glyphicon glyphicon-info-sign pull-right"></span>
        </button>
        <button ng-click="getBidHistory(course)" class="text-left info-button btn btn-link btn-block">
          <small class="pull-left">Bid History</small>
          <span class="glyphicon glyphicon-time pull-right"></span>
        </button>
        <div class="clearfix"></div>
      </div>      
    </div>
</div>