<div class="row">
  <div class="col-md-12 text-center">
    <h1 id="title">Find Your Module</h1>
  </div>
</div>
<div class="row" id="search-form">
  <div>
    <div class="form-group col-md-4">
      <label class="control-label">Course name:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.search" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="title in courseTitle" value="{{title}}">{{title}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label class="control-label">Professors:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.instructor" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="professor in professors" value="{{professor}}">{{professor}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label class="control-label">Day:</label>
      <select class="form-control" ui-select2="{ allowClear: true }" ng-model="search.day" data-placeholder="Any">
        <option value=""></option>
        <option ng-repeat="day in days" value="{{day}}">{{dayLabel(day)}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-link pull-right" ng-click="reset()">Clear Search</button>
  </div>
</div>

<div class="row" id="results">
    <!-- <ul>
      <li ng-repeat="class in classes | filter: search | limitTo: 50">
        {{class.code}} / {{class.title}} / {{class.day}} / {{class.instructor}} / {{class.start}} - {{class.end}}
      </li>
      <li ng-show="flags.noMatch">No match</li>
    </ul> -->

    <div class="col-md-4 result" ng-repeat="class in classes | filter: search | limitTo: 30">
      <div class="result">
        <h5>{{class.title}}</h5>
        <p>
          <small>{{dayLabel(class.day)}}, {{class.start}} - {{class.end}}</small>
        </p>
        <p>
          <small>{{class.instructor}}</small>
        </p>
      </div>
    </div>
</div>